.header {
  background-color: #666666;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: aliceblue;
  font-size: 25px;
}
body {
  background-color: darkgray;
}
.main {
  text-align: center;
  background-color: darkgray;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  justify-content: space-around;
  background-color: grey;
}

.random-meal-box {
  height: 240px;
  width: 240px;
}

hr {
  size: 10;
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  color: black;
  background-color: black;
}
